<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Inventory</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Inventory Stock</h1>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Medication Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${inventoryList}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.medicationName}"></td>
            <td th:text="${item.unitPrice}"></td>
            <td th:text="${item.quantity}"></td>
          </tr>
        </tbody>
      </table>
      <a th:href="@{/inventory/add}">Add More Medication</a>
    </div>
  </body>
</html>
