<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>All Prescriptions</title>
  </head>
  <body>
    <h1>List of Prescriptions</h1>

    <table>
      <thead>
        <tr>
          <th>Patient ID</th>
          <th>Doctor ID</th>
          <th>Medication Name</th>
          <th>Quantity</th>
          <th>Issue Date</th>
          <th>Expiry Date</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="prescription : ${prescriptions}">
          <td th:text="${prescription.patient.id}"></td>
          <td th:text="${prescription.doctor.id}"></td>
          <td th:text="${prescription.medicationName}"></td>
          <td th:text="${prescription.quantity}"></td>
          <td th:text="${prescription.issueDate}"></td>
          <td th:text="${prescription.expiryDate}"></td>
        </tr>
      </tbody>
    </table>

    <a href="/prescriptions/new">Add New Prescription</a>
  </body>
</html>
